/* Place CSS styles here */
html {
    scroll-behavior: smooth;
}

a {
    color: rgb(186, 43, 43);
}
a:hover{
    color: rgb(211, 123, 123);
}

h1,h2,h3 {
    font-family: "Geo", serif;
    text-align: center;
    font-weight: 700;
    font-size: 50px;
}

.heading-border {
    border: 10px rgb(193, 174, 166);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 10px;
  }

body {
    color: rgb(0, 0, 0);
    background-color: rgb(240, 240, 213);
    font-size: 30px;
    font-family: "Geo", serif;
    font-weight: 400;
    text-align: center;
}

.cult-container {
    margin-left: 50px;
    margin-right: 50px;
}

img {
    width: 500px;
}

.hand-hero {
    background-image: url(../img/holdinghands.jpg);
    background-size: cover;
    background-position: center;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.cult-image-wrapper {
    text-align: center;
    max-width: 500px;
}

.smilely-image {
    display: block;
    margin: auto;
    max-width: 300px;
}

header {
    background-color: rgb(236, 225, 168);
    padding: 10px;
    text-align: center;
}


footer {
    background-color: rgb(228, 210, 185);
    font: size 40px;
    padding: 30px;
    text-align: center;
}